
<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
    <div class="row mb-4">
    <div class="col-md">
    <div class="ftco-footer-widget mb-4">
    <img src="images/logo.png" style="width: 200px;" alt="">
    
    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
    <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
    </ul>
    </div>
    </div>
    <div class="col-md">
    <div class="ftco-footer-widget mb-4 ml-md-5">
    <h2 class="ftco-heading-2">Quick Links</h2>
    <ul class="list-unstyled">
    <li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
    <li><a href="/faq" class="py-2 d-block">FAQs</a></li>
    <li><a href="/register" class="py-2 d-block">Purchase Bitcoin</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Resources</h2>
    <ul class="list-unstyled">
    <li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
    <li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Get in Touch</h2>
    <div class="block-23 mb-3">
    <ul>
    <li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
    <li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12 text-center">
    <p>
    Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" target="_blank">BitMintOption</a>. All Rights Reserved.
    </p>
    </div>
    </div>
    </div>
    </footer>
    
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#006eb9" /></svg></div>
    <script src="jsc/jquery.min.js"></script>
    <script src="jsc/jquery-migrate-3.0.1.min.js"></script>
    <script src="jsc/popper.min.js"></script>
    <script src="jsc/bootstrap.min.js"></script>
    <script src="jsc/jquery.easing.1.3.js"></script>
    <script src="jsc/jquery.waypoints.min.js"></script>
    <script src="jsc/jquery.stellar.min.js"></script>
    <script src="jsc/owl.carousel.min.js"></script>
    <script src="jsc/jquery.magnific-popup.min.js"></script>
    <script src="jsc/aos.js"></script>
    <script src="jsc/jquery.animateNumber.min.js"></script>
    <script src="jsc/bootstrap-datepicker.js"></script>
    <script src="jsc/jquery.timepicker.min.html"></script>
    <script src="jsc/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
    <script src="jsc/google-map.js"></script>
    <script src="jsc/main.js"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>
    </body>
    </html>