<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="contact-content text-center">
					<a href="/"><img src="assests/img/footer-logos.png" class="footer-logo" alt="logo"></a>
					<p>We offer bitcoin and other cryptocurrencies investment opportunities, we ensure you gain over 70% ROI.</p>
					<div class="hr"></div>
					<p class="footer-links"><a href="/about">About</a> | <a href="/pricing">Pricing Plans</a> | <a href="/faq">FAQs</a> | <a href="/contact">Contact</a> | <a href="/privacy">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="copyright-text">
	<p>Copyright &copy; 2021 Tobby Epay Global Services Nigeria Ltd. All Rights Reserved.</p>
</footer>
<!--Footer Section Ends-->


<!--jQuery and Bootstrap Bundle-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!--Scroll In Animation-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
	AOS.init();
</script>
</body>
</html>