<%- include("./partials/headerb") %>

 <!--Social Icon Sided-->
 <div class="icon-bar">
  <a href="#" target="_blank" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" target="_blank" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
  <a href="#" target="_blank" title="Message us on WhatsApp"><i class="fab fa-whatsapp"></i></a>
  <a href="#" target="_blank" title="Connect with us on LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="#" target="_blank" title="Subscribe to our channel on Youtube"><i class="fab fa-youtube"></i></a>
</div>
<!--Social Icon Sided-->

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-about">
  <div class="container">
    <h1><strong>About Us</strong></h1>
  </div>
</div>
<!--Breadcrumb Ends-->

<!--What We Do Section-->
<div class="container about-section">
  <div class="row">
      <div class="col-md-12 text-center">
          <p class="small-body-text">What We Do</p>
          <p class="big-body-text">Offering Reliable Minning</p>
      </div>
      <div class="col-md-5">
          <img src="assests/img/img003.jpg" data-aos="fade-up" data-aos-duration="1000" width="100%" alt="img">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
          <p class="about-text-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur vitae ligula et tempus. Duis lacinia ex augue, a iaculis quam fermentum eget. Phasellus in luctus nunc, sit amet interdum erat. Donec varius tincidunt mauris a commodo. Duis rutrum lectus quis rhoncus fringilla. Donec nec leo sit amet eros lacinia dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend dolor tortor, quis euismod arcu mattis vel. Curabitur sodales ante semper turpis egestas mollis. Cras vel nulla dui. Fusce sed ullamcorper leo, vitae ultricies elit. Phasellus vestibulum turpis a commodo semper.</p>
      </div>
  </div>
</div>
<!--What We Do Section Ends-->

<!--Our Mission-->
<div class="container about-section">
  <div class="row">
      <div class="col-md-12 text-center">
          <p class="small-body-text">Our Mission</p>
          <p class="big-body-text">Exceptional Mining Solution</p>
      </div>
      <div class="col-md-6">
          <p class="about-text-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur vitae ligula et tempus. Duis lacinia ex augue, a iaculis quam fermentum eget. Phasellus in luctus nunc, sit amet interdum erat. Donec varius tincidunt mauris a commodo. Duis rutrum lectus quis rhoncus fringilla. Donec nec leo sit amet eros lacinia dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend dolor tortor, quis euismod arcu mattis vel. Curabitur sodales ante semper turpis egestas mollis. Cras vel nulla dui. Fusce sed ullamcorper leo, vitae ultricies elit. Phasellus vestibulum turpis a commodo semper.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <img src="assests/img/img004.jpg" data-aos="fade-down" data-aos-duration="1000" width="100%" alt="img">
      </div>
  </div>
</div>
<!--Our Mission Ends-->

<!--Our Core Values-->
<div class="container about-section">
  <div class="row">
      <div class="col-md-12 text-center">
          <p class="small-body-text">Our Core Values</p>
          <p class="big-body-text">World's Cryptocurrency Demand</p>
      </div>
      <div class="col-md-5">
          <img src="assests/img/img0005.png" data-aos="fade-up" data-aos-duration="1000" width="100%" alt="img">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
          <p class="about-text-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur vitae ligula et tempus. Duis lacinia ex augue, a iaculis quam fermentum eget. Phasellus in luctus nunc, sit amet interdum erat. Donec varius tincidunt mauris a commodo. Duis rutrum lectus quis rhoncus fringilla. Donec nec leo sit amet eros lacinia dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eleifend dolor tortor, quis euismod arcu mattis vel. Curabitur sodales ante semper turpis egestas mollis. Cras vel nulla dui. Fusce sed ullamcorper leo, vitae ultricies elit. Phasellus vestibulum turpis a commodo semper.</p>
      </div>
  </div>
</div>
<!--Our Core Values Ends-->

<!--Sign Up/Newsletter Section-->
<div class="container signup-newsletter">
  <div class="row">
      <div class="col-md-6">
          <p class="first-text-signup">Sign up for free.</p>
          <p class="second-text-signup">Start investing today!</p>
      </div>
      <div class="col-md-6">
          <form class="subscribe-news">
              <button type="submit" class="btn-submit-news">Sign up for free</button>
              <input type="email" required class="input-form" placeholder="email@example.com"></input>
          </form>
      </div>
  </div>
</div>
<!--Sign Up/Newsletter Section Ends-->

<%- include("./partials/footer") %>