<%- include("./partials/headerb") %>

 <!--Social Icon Sided-->
 <div class="icon-bar">
  <a href="#" target="_blank" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" target="_blank" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
  <a href="#" target="_blank" title="Message us on WhatsApp"><i class="fab fa-whatsapp"></i></a>
  <a href="#" target="_blank" title="Connect with us on LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="#" target="_blank" title="Subscribe to our channel on Youtube"><i class="fab fa-youtube"></i></a>
</div>
<!--Social Icon Sided-->

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-contact">
<div class="container text-center">
  <h1><strong>Contact Us</strong></h1>
  <p>Our Contact Information</p>
</div>
</div>
<!--Breadcrumb Ends-->

<!--Contact Details-->
<section class="contact-page-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="contact-info-text">

              <h2>address</h2>
              <span>No 1 Lorem Ipsum,</span> 
              <span>Lagos, Nigeira</span> 
            </div>
          </div>            
        </div>          
      </div>          
      <div class="col-md-4">
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="contact-info-text">
              <h2>E-mail</h2>
              <span>info@example.com</span> 
              <span>yourmail@webiste.com</span>
            </div>
          </div>            
        </div>                
      </div>                
      <div class="col-md-4">
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fa fa-mobile-alt"></i>
            </div>
            <div class="contact-info-text">
              <h2>Phone Number</h2>
              <span>+234 812 345 6789</span>
              <span>+234 809 876 5432</span>
            </div>
          </div>            
        </div>          
      </div>          
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="contact-page-form" method="post">
          <h2>Get in Touch</h2> 
          <form action="contact-mail.php" method="post">
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-input-field">
                <input type="text" required placeholder="Your Name" name="name"/>
              </div>
            </div>  
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-input-field">
                <input type="email" placeholder="E-mail" name="email" required/>
              </div>
            </div>                              
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-input-field">
                <input type="text" placeholder="Phone Number" required name="phone"/>
              </div>
            </div>  
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-input-field">
                <input type="text" required placeholder="Subject" name="subject"/>
              </div>
            </div>                
            <div class="col-md-12 message-input">
              <div class="single-input-field">
                <textarea required  placeholder="Write Your Message" name="message"></textarea>
              </div>
            </div>                                                
            <div class="single-input-fieldsbtn">
              <input type="submit" value="Send Now"/>
            </div>                          
          </div>
          </form>   
        </div>      
      </div>
      <div class="col-md-5">        
        <div class="contact-page-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8070159.95304742!2d4.176639151015652!3d9.01735600935614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0baf7da48d0d%3A0x99a8fe4168c50bc8!2sNigeria!5e0!3m2!1sen!2sng!4v1624624096649!5m2!1sen!2sng" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>          
      </div>        
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
