<%- include("./partials/headerb") %>

<!--Social Icon Sided-->
<div class="icon-bar">
  <a href="#" target="_blank" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" target="_blank" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
  <a href="#" target="_blank" title="Message us on WhatsApp"><i class="fab fa-whatsapp"></i></a>
  <a href="#" target="_blank" title="Connect with us on LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="#" target="_blank" title="Subscribe to our channel on Youtube"><i class="fab fa-youtube"></i></a>
</div>
<!--Social Icon Sided-->

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-about">
  <div class="container">
    <h1><strong>FAQs</strong></h1>
  </div>
</div>
<!--Breadcrumb Ends-->

<!--FAQs Section-->
<div id="faq" class="faq-body">
  <div class="faq-header">
    <h3 class="faq-title">Some of our FAQs</h3>
    <div class="seperator"></div>
    <div class="faq-list">
      <div>
        <details open>
          <summary title="What is the mining performance?">What is the mining performance?</summary>
          <p class="faq-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed illo quod debitis ducimus iste soluta rerum ipsa consequuntur minus quae. Ea minus ex corporis, pariatur quia rerum sequi iusto odit enim expedita fugiat, assumenda molestiae earum iste blanditiis, ipsum ratione.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="How can I pay?">How can I pay?</summary>
          <p class="faq-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestias similique! Molestiae sapiente omnis, illo facere odit reprehenderit eveniet consequuntur sit minus adipisci temporibus eius inventore quidem. Dignissimos, facere quae. Rem quas a laborum est officia pariatur voluptatum iusto perferendis aut labore fugit magni inventore nulla architecto, velit, facilis itaque.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="How do I get my mining output?">How do I get my mining output?</summary>
          <p class="faq-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos error ea accusantium? Sunt cum in, repudiandae et facere at nesciunt commodi non quia earum libero aliquid labore obcaecati repellendus consequatur! Nesciunt impedit ducimus illum unde optio veritatis atque facere, voluptate a odio asperiores laudantium rerum.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="Where can I learn more about your pricing plans?">Where can I learn more about your pricing plans?</summary>
          <p class="faq-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam numquam labore explicabo cupiditate laboriosam. Ipsam explicabo possimus illum aspernatur.</p>
        </details>
        </div>
      <div>
        <details>
              <summary title="How can I mine different coins at the same time?">How can I mine different coins at the same time?</summary>
              <p class="faq-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quos quam asperiores enim sequi nihil? Iure blanditiis autem in ratione rerum, sequi cupiditate eos nemo iusto unde eaque voluptatum alias, porro aliquid sunt. Nesciunt veritatis, ex esse tempora laudantium officiis? Quas corrupti a aut sed quaerat, ipsa incidunt tempora velit dolor distinctio repellat tenetur illum consectetur quos veniam eius provident earum doloremque commodi! Minus amet, obcaecati rem, modi accusantium ad, deleniti possimus incidunt laudantium vitae iusto laborum culpa! Similique, repellat.</p>
          </details>
          </div>
    </div>
  </div>
</div>
<!--FAQs Section Ends-->

<!--Sign Up/Newsletter Section-->
<div class="container signup-newsletter">
  <div class="row">
      <div class="col-md-6">
          <p class="first-text-signup">Sign up for free.</p>
          <p class="second-text-signup">Start investing today!</p>
      </div>
      <div class="col-md-6">
          <form class="subscribe-news">
              <button type="submit" class="btn-submit-news">Sign up for free</button>
              <input type="email" required class="input-form" placeholder="email@example.com"></input>
          </form>
      </div>
  </div>
</div>
<!--Sign Up/Newsletter Section Ends-->

<%- include("./partials/footer") %>