<%- include("./partials/headerb") %>

 <!--Social Icon Sided-->
 <div class="icon-bar">
  <a href="#" target="_blank" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" target="_blank" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
  <a href="#" target="_blank" title="Message us on WhatsApp"><i class="fab fa-whatsapp"></i></a>
  <a href="#" target="_blank" title="Connect with us on LinkedIn"><i class="fab fa-linkedin"></i></a>
  <a href="#" target="_blank" title="Subscribe to our channel on Youtube"><i class="fab fa-youtube"></i></a>
</div>
<!--Social Icon Sided-->

<!--Breadcrumb-->
<div class="jumbotron jumbotron-fluid breadcrumb-contact">
  <div class="container text-center">
    <h1><strong>Privacy Policy</strong></h1>
  </div>
</div>
<!--Breadcrumb Ends-->

<!--Privacy Policy Section-->
<div class="container container-privacy">
  <div class="row">
      <div class="col-lg-12">
              <p>We are committed to protecting the privacy of its users. This Privacy Policy (“Privacy Policy”) is designed to help you understand what information we gather, how we use it, what we do to protect it, and to assist you in making informed decisions when using our website.  Unless otherwise indicated below, this Privacy Policy applies to any website that references this Privacy Policy, any Company website, as well as any data the Company may collect across partnered and unaffiliated sites.</p>
              <p>For purposes of this Agreement, the terms “we,” “us,” and “our” refer to the Company. “You” refers to you, as a user of the website. </p>
          <h4>(1). CONSENT</h4>
              <p>By accessing our website, you accept our Privacy Policy and Terms of Use, and you consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy. In addition, by using our website, or services across partnered and unaffiliated sites, you are accepting the policies and practices described in this Privacy Policy. Each time you visit our website, and any time you voluntarily provide us with information, you agree that you are consenting to our collection, use and disclosure of the information that you provide, and you are consenting to receive emails or otherwise be contacted, as described in this Privacy Policy. Whether or not you register or do any sort of business with us, this Privacy Policy applies to all users of the website.</p>
          <h4>(2). INFORMATION WE COLLECT</h4>
              <p>We may collect both “Non-Personal Information” and “Personal Information” about you. “Non-Personal Information” includes information that cannot be used to personally identify you, such as anonymous usage data, general demographic information we may collect, referring/exit pages and URLs, platform types, preferences you submit and preferences that are generated based on the data you submit and number of clicks. “Personal Information” includes information that can be used to personally identify you, such as your name, address and email address.</p>
          <h4>(3). Cookies</h4>
              <p>We track this information in Google Analytics using cookies, or small text files which include an anonymous unique identifier. Cookies are sent to a user’s browser from our servers and are stored on the user’s computer hard drive. Sending a cookie to a user’s browser enables us to collect Non-Personal Information about that user and keep a record of the user’s preferences when utilizing our services, both on an individual and aggregate basis.  The Company may use both persistent and session cookies; persistent cookies remain on your computer after you close your session and until you delete them, while session cookies expire when you close your browser. Persistent cookies can be removed by following your Internet browser help file directions. If you choose to disable cookies, some areas of the website may not work properly.</p>
          <h4>(4). Website Forms</h4>
              <p>There may be several online forms present on our website where you are able to submit personally identifiable information in order to express interest in our business or submit an inquiry regarding our business.  These forms may appear as RFP forms, Contact Us forms, Wedding RFP forms, or other similar forms that request your information before submitting. When you contact us using a form on our website, we collect information that identifies you, such as your name, job title, business name, phone number, email address, and other personally identifiable information. Some of this information is required and other information is optional. This information is used to better address your inquiry and is not used for marketing purposes or shared with other third party companies.  If you would prefer that we do not collect this information then simply do not fill out the form.  If you have already submitted your information through a form and would like to be removed, please email us.</p>
          <h4>(5). Email Communications</h4>
              <p>Based upon the Personal Information that you provide us, we may communicate with you in response to your inquiries to provide the services you request and to manage your account. We will communicate with you by email or telephone, in accordance with your wishes.  We may also use your Personal Information to send you updates and other promotional communications. If you no longer wish to receive those email updates, you may opt-out of receiving them by following the instructions included in each update or communication.</p>
          <h4>(6). Online Advertising</h4>
              <p>We participate in a variety of online advertising. This advertising displays our ads to you on the websites and apps that reside outside of this website. </p>
          <h4>(7). Social Media</h4>
              <p>We have a presence on various social media networks, such as Facebook, Instagram, Twitter, Google+, Pinterest, and LinkedIn. We may collect information when you interact with our social media accounts and pages.</p>
          <h4>(8). CHANGES TO OUR PRIVACY POLICY</h4>
              <p>The Company reserves the right to change this Privacy Policy and our Terms of Use at any time. If we decide to change this Privacy Policy, we will post these changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it. Any such modifications become effective upon your continued access to and/or use of the website five (5) days after we first post the changes on the website or otherwise provide you with notice of such modifications. It is your sole responsibility to check this website from time to time to view any such changes to the terms of this Privacy Policy. If you do not agree to any changes, if and when such changes may be made to this Privacy Policy, you must cease access to this website. If you have provided your email address to us, you give us permission to email you for the purpose of notification as described in this Privacy Policy.</p>
      </div>
  </div>
</div>
<!--Privacy Policy Ends-->

<%- include("./partials/footer") %>