<!DOCTYPE html>
<html lang="en">
<head>
<title>Best Bitcoin and Etherum Mining Company</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link href="images/icon.png" rel="icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="cssc/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="cssc/animate.css">
<link rel="stylesheet" href="cssc/owl.carousel.min.css">
<link rel="stylesheet" href="cssc/owl.theme.default.min.css">
<link rel="stylesheet" href="cssc/magnific-popup.css">
<link rel="stylesheet" href="cssc/aos.css">
<link rel="stylesheet" href="cssc/ionicons.min.css">
<link rel="stylesheet" href="cssc/bootstrap-datepicker.css">
<link rel="stylesheet" href="cssc/jquery.timepicker.css">
<link rel="stylesheet" href="cssc/flaticon.css">
<link rel="stylesheet" href="cssc/icomoon.css">
<link rel="stylesheet" href="cssc/style.css">
<link rel="stylesheet" href="cssc/reg.css">
<link rel="stylesheet" href="cssc/new.css">

</head>
<body>
  <div class="wrapper">
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="/">
  <img src="images/logo.png" style="width: 200px;" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span>
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
<li class="nav-item"><a class="nav-link" href="/pricing">Pricing Plans</a></li>
<li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
</ul>
  <div class="mr-md-3" id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<div class="nav-item cta">
<a href="/register" class="nav-link nav-btn" style="color: #fff !important; font-weight: bold;"><span>Register</span></a>
</div>
<div class="nav-item cta cta2" id="cta2">
  <a href="/login" class="nav-link nav-btn ml-3" style="color: #fff !important; font-weight: bold;"><span>Login</span></a>
  </div>
</div>
</div>
</nav>

<!-- hero -->
<section class="home-slider owl-carousel">
<div class="slider-item bread-item" style="background: url(images/Contact.png); background-repeat: no-repeat; background-position: center; background-size: cover; height: 65vh !important;" data-stellar-background-ratio="1">
<div class="overlay"></div>
<div class="container-fluid">
<div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
<div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
<p class="breadcrumbs text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Terms & Conditions</span></p>
<h1 class="mb-3 bread text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Terms & Conditions</h1>
</div>
</div>
</div>
</div>
</section>

<!-- terms -->
<section class="ftco-section contact-section ftco-degree-bg mt-2">
<div class="container">
<div class="terms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="login-form">
                          <h2>Terms & Conditions</h2>
                          <h4 style="font-weight: bold;">Risk Notice</h4>
                            <p>Bitcoin is a not backed or value guaranteed by any financial institution; when purchasing bitcoins the customer assumes all risk the bitcoins may become worthless in value. Customers should research and consider the risks before purchasing any bitcoins. The company makes absolutely no guarantee about the future value of the bitcoins purchased.</p>
                            <br>
                            <h4 style="font-weight: bold;">Severability</h4>
                            <p>In the event any court shall declare any section or sections of this Agreement invalid or void, such declaration shall not invalidate the entire Agreement and all other paragraphs of the Agreement shall remain in full force and effect.</p>
                            <br>
                            <h4 style="font-weight: bold;">Customer input errors</h4>
                            <P>It is the sole responsibility of the customer to check the accuracy of information entered and saved on the website. Account details displayed on the order summary webpage will be the final transfer destination. In the case that this information is incorrect, and funds are transferred to an unintended destination, the company shall not reimburse the customer and shall not transfer additional funds. As such customers must ensure the Bitcoin address and bank information they enter is completely correct.</P>
                            <br>
                            <h4 style="font-weight: bold;">Binding Agreement</h4>
                            <p>The terms and provisions of this Agreement are binding upon Your heirs, successors, assigns, and other representatives. This Agreement may be executed in counterparts, each of which shall be considered to be an original, but both of which constitute the same Agreement.</p>
                            <br>
                            <h4 style="font-weight: bold;">Expired orders</h4>
                            <p>If the company receives payment for an order that has already expired, the company reserves the right to recalculate the Bitcoin to USD exchange rate at the time of processing the transfer to the customer. This may result in the customer receiving less bitcoins or USD than the original ordered amount.</p>
                            <br>
                            <h4 style="font-weight: bold;">Choice of Law</h4>
                            <p>This Agreement, and its application and interpretation, shall be governed exclusively by the laws of the State of Georgia and Hong Kong, without regard to its conflict of law rules. You consent to the exclusive jurisdiction of the federal and state courts located in or near Atlanta, Georgia for any dispute arising under this Agreement.</p>
                            <br>
                            <h4 style="font-weight: bold;">Security</h4>
                            <p>We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law. Backed by the law of the state of Georgia and Hong Kong the investor has every right to file a lawsuit if any parts of the agreements is defaulted and so does the company have every right to also do so too. Vice versa!</p>
                            
                        </div>
                        
                          <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Click to accept terms and conditions</label>
                          </div>
                          <button type="submit" class="btn btn-primary mt-3">Accept</button> -->
                        
                      </div>
                </div>
            </div>
        </div>
</div>

</section>

<!-- footer -->
<!-- footer -->
<footer class="ftco-footer ftco-bg-dark ftco-section">
<div class="container">
<div class="row mb-4">
<div class="col-md-3 col-sm-">
<div class="ftco-footer-widget mb-4">
<img src="images/logo.png" style="width: 200px;" alt="">

<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-2">
<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="ftco-footer-widget mb-4 ml-md-5">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="/pricing" class="py-2 d-block">Pricing</a></li>
<li><a href="/faq" class="py-2 d-block">FAQs</a></li>
<li><a href="/privacy" class="py-2 d-block">Privacy Policy</a></li>
<li><a href="/terms" class="py-2 d-block">Terms & Conditions</a></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Purchase Bitcoin</h2>
<ul class="list-unstyled">
<li><a href="https://crypto.com/" target="_blank" class="py-2 d-block">Crypto</a></li>
<li><a href="https://guarda.com/" target="_blank" class="py-2 d-block">Guarda</a></li>
<li><a href="https://www.coinbase.com/" target="_blank" class="py-2 d-block">Coinbase</a></li>
<li><a href="https://www.gemini.com/" target="_blank" class="py-2 d-block">Gemini</a></li>
<li><a href="https://localbitcoins.com/" target="_blank" class="py-2 d-block">LocalBitcoins</a></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-12">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Get in Touch</h2>
<div class="block-23 mb-3">
<ul>
<p style="color: #fff;">Company No: 521016-0430</p>
<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__">info@bitmintoption.com</span></span></a></li>
<!--<li><a href="mailto: info@bitmintoption.com" target="_blank"><span class="icon icon-phone"></span><span class="text">Support</span></a></li>-->
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="px-5 pt-5 pb-4 mb-3" style="background-color: #1c2836;">
  <div class="container">
<div class="row">
<div class="col-md-4 col-sm-12 text-center ftco-animate">
 <p>-Sjonarholl 16 
235 Reykjanesbaer <br>
Iceland</p>
</div>
<div class="col-md-4 col-sm-6 text-center ftco-animate">
  <i class="fab fa-3x fa-cc-mastercard" style="color: #fff;"></i>
    <i class="fab fa-3x fa-cc-visa" style="color: #fff;"></i>
    <p>We accept credit card payment</p>
</div>
<div class="col-md-4 col-sm-6 text-center ftco-animate">
<img src="images/ssl.svg" style="width: 100px;" alt="">
</div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
<div class="col-md-12 text-center">
<p style="font-size: 14px;">
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>. <a href="#" style="font-size: 14px;" target="_blank">BitMintOption</a>. All Rights Reserved.
</p>
</div>
</div>
</div>
</footer>

<div id="ftco-loader" class="show fullscreen">
  <?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg class="circular" version="1.0" width="88px" height="88px" xmlns="http://www.w3.org/2000/svg"
 width="941.000000pt" height="1280.000000pt" viewBox="0 0 941.000000 1280.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
fill="#fd7e14" stroke="none">
<path d="M5020 12793 c-45 -14 -64 -68 -280 -784 -120 -396 -219 -722 -222
-724 -2 -3 -413 119 -914 269 -500 151 -910 273 -910 273 -11 -12 -433 -1442
-427 -1447 4 -5 109 -38 233 -75 425 -127 503 -165 551 -270 33 -71 18 -191
-51 -432 -106 -363 -1491 -4948 -1536 -5084 -72 -215 -114 -294 -179 -334 -88
-54 -181 -41 -608 87 -130 39 -239 69 -240 67 -2 -2 -99 -323 -217 -714 -117
-390 -215 -715 -217 -720 -2 -6 383 -127 907 -285 565 -169 910 -278 910 -286
0 -6 -95 -325 -210 -708 -151 -500 -210 -710 -210 -745 0 -85 6 -88 542 -249
507 -153 516 -155 571 -104 32 30 20 -5 277 847 99 330 182 605 184 611 3 8
96 -16 273 -69 147 -44 269 -81 270 -81 1 -1 -96 -328 -216 -727 -207 -685
-218 -725 -204 -750 41 -70 26 -64 529 -215 263 -79 489 -144 501 -144 12 0
41 8 65 19 l43 19 220 732 220 732 30 -6 c16 -3 107 -21 200 -40 374 -76 605
-101 935 -101 192 1 283 5 370 18 698 108 1257 421 1676 940 383 475 600 1119
581 1722 -7 207 -25 336 -73 523 -123 480 -368 839 -808 1182 l-68 54 93 19
c143 29 380 110 514 177 232 114 411 244 606 439 492 492 743 1206 664 1885
-32 269 -95 489 -210 721 -295 601 -802 1007 -1646 1320 -85 31 -155 58 -156
59 -1 1 98 335 221 741 l223 740 -23 47 c-13 26 -28 49 -33 52 -5 4 -231 73
-503 155 l-493 149 -49 -27 -49 -27 -221 -734 c-122 -403 -226 -735 -233 -737
-9 -3 -541 152 -549 160 -2 1 95 327 215 723 188 624 217 726 212 766 -10 81
-16 84 -534 239 -421 126 -502 146 -547 132z m641 -3657 c924 -278 1183 -395
1355 -610 129 -161 184 -376 155 -601 -61 -461 -306 -772 -686 -872 -84 -22
-123 -26 -245 -27 -279 -2 -485 43 -1230 268 -238 72 -345 108 -344 117 1 8
126 429 279 936 171 567 282 920 289 918 6 -2 198 -60 427 -129z m-928 -3422
c536 -162 690 -215 885 -309 178 -86 288 -160 386 -258 219 -220 300 -488 250
-825 -31 -211 -122 -450 -234 -618 -66 -98 -201 -233 -301 -301 -284 -194
-517 -225 -979 -133 -159 32 -242 55 -706 196 -373 113 -444 140 -462 177 -25
52 5 164 362 1352 141 468 259 856 261 864 6 17 -34 28 538 -145z"/>
</g>
</svg>
  <!-- <svg class="circular" width="88px" height="88px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#fd7e14" /></svg> -->
</div>
<script src="jsc/jquery.min.js"></script>
<script src="jsc/jquery-migrate-3.0.1.min.js"></script>
<script src="jsc/popper.min.js"></script>
<script src="jsc/bootstrap.min.js"></script>
<script src="jsc/jquery.easing.1.3.js"></script>
<script src="jsc/jquery.waypoints.min.js"></script>
<script src="jsc/jquery.stellar.min.js"></script>
<script src="jsc/owl.carousel.min.js"></script>
<script src="jsc/jquery.magnific-popup.min.js"></script>
<script src="jsc/aos.js"></script>
<script src="jsc/jquery.animateNumber.min.js"></script>
<script src="jsc/bootstrap-datepicker.js"></script>
<script src="jsc/jquery.timepicker.min.html"></script>
<script src="jsc/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="jsc/google-map.js"></script>
<script src="jsc/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>