body{
    font-family: Poppins !important;
    background-color: #7e4a1d;
  }
  .main-div{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.116), 0 6px 20px 0 rgba(255, 255, 255, 0.082);
  }
  .text-top{
    font-size: 14px;
    margin-top: 20px;
  }
  input[type=email] {
    width: 85%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    color: #0C1D3D
  }
  input[type=password] {
    width: 85%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    margin: 8px 0;
    font-size: 15px;
    color: #0C1D3D;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
  }
  ::placeholder {
    color: #0C1D3D;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0C1D3D;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: #0C1D3D;
  }
  .btn{
    background-color: #9B5B24;
    width: 50%;
    border-radius: 10px;
    color: white;
  }
  .btn:hover{
    background-color: #663b16;
    width: 50%;
    border-radius: none;
    color: white;
  }
  .forgot-password{
    font-size: 14px;
    margin-top: 10px;
  }
  .line{
    width: 60%;
    border-color: #0C1D3D;
    margin-top: -10px;
  }
  @media (max-width: 1128px){
    .main-div{
    width: 40%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.116), 0 6px 20px 0 rgba(255, 255, 255, 0.082);
  }
  }
  @media (max-width: 742px){
    .main-div{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.116), 0 6px 20px 0 rgba(255, 255, 255, 0.082);
  }
  }
  @media (max-width: 600px){
    .main-div{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.116), 0 6px 20px 0 rgba(255, 255, 255, 0.082);
  }
  }
  @media (max-width: 494px){
    .main-div{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.116), 0 6px 20px 0 rgba(255, 255, 255, 0.082);
  }
  }