
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif !important;
    min-height: 100%;
    background-color: #aa6325;
    margin: auto;
  }
  .container-form{
    width: 100% !important;
  }
  .form-area-div{
    width: 300px;
    margin: auto;
    padding-top: 100px;
  }
  .logo-form{
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 30px;
  }
  .text-form{
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
  }
  label{
    color: #fff;
  }
  .input{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    border-radius: 1px !important;
    width: 100%;
    margin-bottom: 30px;
    border: none !important;
  }
  .input::placeholder {
    color: #b6b6b6;
    font-size: 14px;
  }
  .login-btn{
    border: 1px solid #fff !important;
    color: #fff !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .login-btn:hover{
    border: 2px solid #804b1e !important;
  }
  .dont-have-acc{
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
  }
  .link-below-form{
    color: #fff;
  }
  .link-below-form:hover{
    color: #fff;
  }