
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif !important;
  min-height: 100%;
}
.container-form{
  width: 100% !important;
}
.form-area-div{
  background-color: #aa6325;
  width: 500px;
  height: 100% !important;
  float: left;
  padding: 50px 80px;
}
.logo-form{
  margin-bottom: 40px;
  width: 200px;
}
.text-form{
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
}
label{
  color: #fff;
}
.input{
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  border-radius: 1px !important;
  width: 100%;
  margin-bottom: 30px;
  border: none !important;
}
.input::placeholder {
  color: #b6b6b6;
  font-size: 14px;
}
.login-btn{
  border: 1px solid #fff !important;
  color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.login-btn:hover{
  border: 2px solid #804b1e !important;
}
.dont-have-acc{
  color: rgba(255, 255, 255, 0.603);
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.link-below-form{
  color: #fff;
}
.link-below-form:hover{
  color: #fff;
}
.img-area-div{
  float: left;
  width: 700px;
  height:39em;
  padding: 50px 10px;
  margin-left: 50px;
}
.slide-indicator{
  background-color: #C9782F !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}
.carousel-item img{
  width: 80%;
  margin: auto;
}
@media (max-width: 1248px){
  .img-area-div{
    float: left;
    width: 600px;
    height:39em;
    padding: 50px 10px;
    margin-left: 50px;
  }
}
@media (max-width: 1220px){
  .img-area-div{
    float: left;
    width: 600px;
    height:39em;
    padding: 50px 10px;
    margin-left: 50px;
  }
}
@media (max-width: 1153px){
  .img-area-div{
    float: left;
    width: 500px;
    height:39em;
    padding: 50px 10px;
    margin-left: 50px;
  }
}
@media (max-width: 1043px){
  body{
    font-family: 'Poppins', sans-serif !important;
    min-height: 100%;
    background-color: #aa6325 !important;
  }
  .form-area-div{
    background-color: #aa6325;
    width: 100% !important;
    height:100% !important;
    float: left;
    padding: 50px 20px !important;
  }
  .img-area-div{
    display: none !important;
  }
}
@media (max-width: 400px){
  .input{
    width: 100% !important;
  }
}
